*{
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: #23242a;
}

.main {
    position: relative;
    cursor: pointer;
    min-width: 38vw;
    min-height: 70vh;
    background: linear-gradient(#000000 20%,#ff0000 1200%);
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 12px 12px 20px #000000,
                -12px -12px 20px #000000;
}


.main::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 100%;
    height: 100%;
    background: linear-gradient(20deg,transparent, red);
    transform-origin: bottom right;
    animation: animate 3s linear infinite;
}


@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}



.calculator {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    inset: 2px;
    border-radius: 20px;
    background: #28292d;
    z-index: 10;
}



.display {
    margin: 30px 0 10px 0;
    width: 80%;
    height: 3em;
    font-size: xx-large;
    outline: none;
    border: none;
    text-align: right;
    padding-right: 0.5em;
    background: #2f2e2e;
    color: white;
    border-radius: 6px;
    box-shadow: inset 2px 2px 2px #cbced1,
                inset -2px -2px 2px #cbced1;
}
            
.keypad {
    margin-top: 5%;
    margin-bottom: 2%;
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 2ch;
    width: 100%;
    font-weight: bolder;
}

.row {
    display: flex;
    justify-content: center;
    column-gap: 3%;
}

.row button {
    border: none;
    outline: none;
    min-width:10%;
    min-height: 5vh;
    margin: 5px;
    border-radius: 4px;
    background-color: black;
    color: #ff0000;
    border: 1px solid#ff0000;
    cursor: pointer;
    text-shadow: 0 0 0 red;
    box-shadow: 0 0 5px red;
}

.row button:hover {
    box-shadow: 0 0 20px red;
    transition: .2s;
    background: red;
    color: white;
    transform: scale(1.1);
}